# Update dotfiles on existing machines
- name: Check if .dotfiles directory exists
  stat:
    path: "{{ lookup('env', 'HOME') }}/.dotfiles"
  register: dotfiles_dir
  tags:
    - dotfiles-update

- name: Pull latest dotfiles changes
  git:
    repo: 'git@github.com:zjromani/.dotfiles.git'
    dest: "{{ lookup('env', 'HOME') }}/.dotfiles"
    version: master
    update: yes
  when: dotfiles_dir.stat.exists
  tags:
    - dotfiles-update

- name: Read stow packages from dotfiles manifest
  include_vars:
    file: "{{ lookup('env', 'HOME') }}/.dotfiles/packages.yml"
  when: dotfiles_dir.stat.exists
  tags:
    - dotfiles-update

- name: Re-stow all dotfiles packages
  shell: stow -R "{{ item }}"
  args:
    chdir: "{{ lookup('env', 'HOME') }}/.dotfiles"
  loop: "{{ stow_packages }}"
  when:
    - dotfiles_dir.stat.exists
    - item != 'iterm2'
  tags:
    - dotfiles-update
